<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.maximusmccann.rsnapshot.monthly</string>

    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/rsnapshot</string>
      <string>monthly</string>
    </array>

    <!-- First of every month at 11:00 PM-->
    <key>StartCalendarInterval</key>
    <dict>
        <key>Minute</key>
        <integer>00</integer>
        <key>Hour</key>
        <integer>23</integer>
        <key>Day</key>
        <integer>1</integer> 
    </dict>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardErrorPath</key>
    <string>/tmp/rsnapshotMonthly.err</string>

    <key>StandardOutPath</key>
    <string>/tmp/rsnapshotMonthly.out</string>
  </dict>
</plist>
