<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.maximusmccann.rsnapshot.hourly</string>

    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/rsnapshot</string>
      <string>hourly</string>
    </array>

    <!-- Every 0th minute of every hour every day. Aka once an hour -->
    <key>StartCalendarInterval</key>
    <dict>
        <key>Minute</key>
        <integer>0</integer>
    </dict>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardErrorPath</key>
    <string>/tmp/rsnapshotHourly.err</string>

    <key>StandardOutPath</key>
    <string>/tmp/rsnapshotHourly.out</string>
  </dict>
</plist>