<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.maximusmccann.rsnapshot.daily</string>

    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/rsnapshot</string>
      <string>daily</string>
    </array>

    <!-- Every day at 11:50 PM-->
    <key>StartCalendarInterval</key>
    <dict>
        <key>Minute</key>
        <integer>50</integer>
        <key>Hour</key>
        <integer>23</integer>
    </dict>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardErrorPath</key>
    <string>/tmp/rsnapshotDaily.err</string>

    <key>StandardOutPath</key>
    <string>/tmp/rsnapshotDaily.out</string>
  </dict>
</plist>
